.box{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    float: left;
    margin: 20px;
    transition: all 1s;
    overflow: hidden;
}
img{
    width: 100%;
    height: 100%;
}
.box:active {
    transform: perspective(200px) rotateY(-180deg);
}